@media screen and (max-width: 650px) {
  body {
    justify-content: center;
    
    /* background: brown; */
  }
  .signUp-btn {
    width: 300px;
    background-color: aquamarine;
    color: black;
  }
  .signUp-btn a{
    color: black;}
  .main-c {
    
    justify-content: space-evenly;
    
  }
  
}
